#Contenedor{
    display: flex;
    min-height: 100%;
    margin-bottom: 4rem;
}

.titulo{
    text-align: center;
}

@media (max-width: 960px) {
    #Contenedor {
        flex-direction: column; 
    }
}

